.labelItems b {
  font-size: 14px;
}

.itemWrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  background: #FFF;
  border: 1px solid #DFDFDF;
  padding: 8px 0px;
  height: 40px;
  width: calc(50% - 4px);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.towColumns {
  column-count: 2
}

.threeColumns {
  display: "flex";
  flex-direction: "column";
  gap: "20px 0"
}