.waveform {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  margin-bottom: 24px;
  position: relative;
}

.waveinfo {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #515151;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.controls h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls span {
  color: #515151;
}

.controls button,
.controls button:focus-visible {
  border: none;
  background: none;
  outline: none;
}

.downloadButton {
  background-color: #000000;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all .2s ease-in;
}

.downloadButton:hover {
  color: #FF595A;
}

.selectLike {
  border: none;
  background-color: transparent;
}

.downloadPopUp {
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.35);
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  width: 198px;
  height: 96px;
  position: absolute;
  right: 12px;
  top: 80px;
  z-index: 1;
}

.downloadPopUp button {
  width: 100%;
  height: 50%;
  border: none;
  text-align: left;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  transition: background .3s ease-in;
}

.downloadPopUp button:hover {
  background-color: #FAFAFA;
}

.downloadIcon {
  display: none;
}

@media (max-width: 768px) {
  .waveform {
    padding: 12px 8px;
  }
  .controls {
    width: 159px;
    gap: 6px;
  }
  .controls > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .controls > div span {
    width: 123px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .controls button img {
    width: 32px;
    height: 32px;
  }
  .controls h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    width: 123px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .waveinfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 56px;
    font-size: 14px;
    font-weight: 500;
  }
  .waveinfo .player {
    display: none;
  }
  .downloadButton {
    display: none;
  }
  .downloadIcon {
    display: flex;
  }
}
