.primary {
  background-color: #1a01a6;
}


.primary .title {
  color: #FF595A;
}

.secondary {
  background-color: #FF595A;
}

.secondary .title {
  color: #1A01A6;
}

.dark {
  background-color: #222222;
}

.dark .title {
  color: #FF595A;
}

.section {
  padding: 80px 0;
  font-family: var(--primary-font);
}

.title {
  font-weight: bold;
  font-size: 4rem;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .title {
    font-size: 3.5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .title {
    font-size: 2.3rem;
  }
}