.section {
  padding-top: 4rem;
}

.content {
  column-count: 3;
}

@media (max-width: 991.98px) {
  .content {
    column-count: 2;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .content {
    column-count: 2;
  }
}

