.TabsMenu{
    list-style: none;
    display: flex;
    padding: 0;
}

.TabsMenu button{
    background: none;
    border: none;
    padding: .5em 1em;
    box-sizing: border-box;
    color: var(--aloha-gray);
    font-weight: 500;
    position: relative;
}

.TabsMenu button::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background: var(--aloha-coral);
    left: 0;
    transition: .3s;
}

.TabsMenu button:hover, .TabsMenu button.active{
    color: var(--aloha-black);
    font-weight: 600;
}

.TabsMenu button:hover::before, .TabsMenu button.active::before{
    width: 100%;
}

.TabContent{
    display: none;
}

.TabContent.active{
    display: block;
}

.TabContent > div > div > div {
    margin-left: 0;
    margin-right: 0;
}

.TabButton{
    line-break: none;
    white-space: nowrap;
    outline: none;
}

.Style2 .TabsMenu button::before{
    display: none;
}

.Style2 .TabsMenu{
    align-items: center;
}

.Style2 .TabsMenu li{
    position: relative;
    align-items: center;
}

.Style2 .TabsMenu li::after{
    content: '|';
    color: #DFDFDF;
}

.Style2 .TabsMenu li:last-child::after{
    display: none;
}

.Style2 .TabsMenu button:hover, .Style2 .TabsMenu button.active{
    text-decoration: underline;
    color: var(--aloha-blue);
}

.Style2 .TabsMenu button:hover::before, .Style2 .TabsMenu button.active::before{
    width: 0;
}

@media screen and (max-width: 600px){
    .TabsMenu{
        overflow-x: scroll;
    }
}