.HeroSearch{
    color: white;
    margin-bottom: 2rem;
    position: relative;
    min-height: 60vh;
}

.HeroSearch__title{
    font-size: 64px;
    font-weight: bold;
    line-height: 125%;
}

.HeroSearch__title__arrow{
    display: inline-block;
    position: relative;
    top: -5px;
}

.HeroSearch__content{
    position: relative;
    margin-top: 30vh;
}

.HeroSearch__desc{
    font-weight: 600;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .HeroSearch{
        min-height: unset;
    }
    .HeroSearch__content{
        margin-top: 10rem;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .HeroSearch__content{
        margin-top: 0;
        padding: 0 1.5rem;
    }

    .HeroSearch__title{
        font-size: 40px;
    }

    .ArrowMobile svg{
        width: 56px;
        height: 56px;
    }
}