.HeroSearch{
    color: white;
    margin-bottom: 2rem;
    position: relative;
    min-height: 60vh;
}

.HeroSearch__title{
    font-size: 64px;
    font-weight: bold;
    line-height: 1em;
}

.HeroSearch__title__arrow{
    display: inline-block;
    position: relative;
    top: -5px;
}

.HeroSearch__content{
    position: relative;
    margin-top: 30vh;
}

.HeroSearch__desc{
    font-weight: 600;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .HeroSearch{
        min-height: unset;
    }
    .HeroSearch__content{
        margin-top: 10rem;
    }
}