.HeroSearch{
    color: white;
    margin-bottom: 2rem;
}

.HeroSearch__title{
    font-size: 64px;
    font-weight: bold;
    line-height: 1em;
}

.HeroSearch__title__arrow{
    display: inline-block;
    position: relative;
    top: -5px;
}

.HeroSearch__content{
    position: relative;
    margin-top: 30vh;
}

.HeroSearch__desc{
    font-weight: 600;
}