.field {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DFDFDF;
}

.field select {
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  width: 150px;
}

.labels {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  .toggle {
    display: none;
  }

  .labels {
    margin: 0;
  }

  .field {
    gap: 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: none;
  }
}