.Section {
  padding: 4rem 0;
}

.Grid{
  height: 100vh;
}

.Grid .Column{
  height: 100%;
}

.Item{
  height: calc(100% / 3);
  margin-bottom: 1em;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Grid{
    height: auto;
  }
	.Section {
    padding: 3rem 0;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Grid{
    height: auto;
  }
	.Section {
    padding: 2rem 0;
  }
}