.ChangePassword {
  padding-bottom: 80px;
}
.ChangePassword h2 {
  font-weight: 800;
  margin: 20px 0;
  font-size: 32px;
}
.Form, .ChangePassword h2 {
  padding: 0 30px;
}
.Form div label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #515151;
}
.Form div input {
  padding: 14px 16px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #CECECE;
  margin-bottom: 20px;
}
.Form div button {
  background-color: #222222;
  border: none;
  width: 100%;
  padding: 16px;
  color: white;
  font-weight: 600;
  text-decoration: underline;
}
.Info {
  padding: 30px;
}
.Info div {
  background-color: #FAFAFA;
  color: #515151;
  max-width: 480px;
  padding: 15px 40px;
 }
.Info div ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 744px) {
  .ChangePassword {
    display: grid;
    padding: 40px;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
  }
  .ChangePassword h2 {
    grid-column: span 2;
    margin-bottom: 30px;
    margin: 0;
    padding: 0;
  }
  .Form {
    padding: 0;
  }
  .Form div button {
    width: auto;
  }
  .Info {
    display: flex;
    align-items: flex-start;
    padding: 0;
  }
  .Info div {
    font-size: 14px;
  }
}
@media (min-width: 900px) {
  .ChangePassword {
    max-width: 910px;
    margin: auto;
    padding: 60px 40px;
    padding-bottom: 100px;
    gap: 30px 55px;
  }
  .Info {
    padding: 0 10px
  }
  .Info div {
    font-size: 14px;
  }
}