.SearchBar {
  background: white;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.15);
  position: relative;
}

.SearchBar select {
  max-width: 250px;
  border-right: 2px solid var(--aloha-gray);
}

.SearchBar input,
.SearchBar select {
  height: 70px;
}

.SearchBar input:focus,
.SearchBar select:focus {
  outline: 0px !important;
  border: 0px;
  box-shadow: none;
}

.Divider {
  width: 1px;
  height: 50px;
  background: #dfdfdf;
  color: transparent;
  display: inline-block;
}

.BtnSubmit {
  width: 70px;
  background: var(--aloha-black);
  border-color: white;
}

.BtnSubmit:hover {
  background: var(--aloha-gray);
  border-color: white;
}

.SearchBar__select__mobile {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.IconSelectArrow {
  color: var(--aloha-black);
  margin-left: 0.2rem;
}

.MenuCategories {
  position: absolute;
  top: -30px;
  left: -10px;
  z-index: 3;
  max-height: 75vh;
}

.MenuCategoriesDesktop {
  top: 70px;
  left: 0;
}

.Small .MenuCategoriesDesktop {
  top: 50px;
}


.FieldSelect {
  color: var(--aloha-gray);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.FieldSelect__text {
  white-space: nowrap;
  margin-right: 10px;
  min-width: 150px;
}

.SearchBar.Small input,
.SearchBar.Small select {
  height: 30px;
}

.Small .FieldSelect__text{
  width: 100px;
  font-size: 14px;
  min-width: auto;
  overflow: hidden;
}

.Small .FormControl{
  font-size: 14px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .BtnSubmit {
    font-size: 24px;
  }
  .BtnSubmit svg {
    width: 24px;
    height: 24px;
  }
  .SearchBar input,
  .SearchBar select {
    height: 56px;
  }

  .FormControl {
    font-size: 16px;
    padding: 0.7rem;
    font-weight: 400;
  }
}
