.navbar {
  font-family: var(--primary-font);
  background-color: white;
  position: relative;
}

.navbar.header {
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}

.navUsername {
  font-weight: 600;
  color: #1a01a6;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 0;
}

.navMenuUser {
  position: absolute;
  background-color: white;
  width: 281px;
  right: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

.navMenuUser div[role="header"] {
  background-color: #fafafa;
  padding: 20px 16px;
}

.navMenuUser div[role="header"] h2 {
  margin: 0;
  color: #222222;
  font-weight: bold;
  font-size: 16px;
}

.navMenuUser div[role="header"] span {
  margin: 0;
  color: #515151;
  font-size: 12px;
}

.navMenuUser div[role="menu"] {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.navMenuUser div[role="logout"],
.navMenuUser div[role="menu"] {
  padding: 24px 16px;
  background: white;
}

.navMenuUser div[role="menu"] a,
.navMenuUser div[role="logout"] a {
  text-decoration: none;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
}

.navMenuUser div[role="menu"] a:hover,
.navMenuUser div[role="logout"] a:hover {
  color: #1a01a6;
}

.navSubmenu {
  position: absolute;
  z-index: 1000;
  background-color: white;
  left: 0;
  top: 100px;
  width: 100%;
}

.navImages {
  height: 80px;
  display: flex;
  align-items: center;
}

.show {
  display: none;
}

.navImages:hover .show {
  display: block;
}

.show:hover {
  display: block;
}

.menufirst a {
  font-size: 14px;
  font-weight: 600;
  color: var(--aloha-black);
  margin: 0 8px;
  position: relative;
  cursor: pointer;
}

.menufirst svg {
  margin-left: 6px;
}

.menufirst a::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 24px;
  background-color: #dfdfdf;
  margin: auto;
}

.menufirst li:last-child a::before {
  content: none;
}

.menusecond a {
  color: var(--aloha-blue);
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  margin: 0 8px;
}

.menusecond li:last-child a {
  margin-right: 0;
}

.menusecond a::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 24px;
  background-color: #dfdfdf;
  margin: auto;
}

.menusecond li:last-child a::before {
  content: none;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  height: 100px;
}

/*Search*/
.search {
  background-color: #efefef;
  padding: 5px 15px;
  border-radius: 4px;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
}

.navbar.fixed .search {
  width: auto;
  position: relative;
  opacity: 1;
  height: auto;
  left: 0;
}

.search form {
  display: flex;
  align-items: center;
}

.search select {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-right: 15px;
  position: relative;
  height: 36px;
}

.search select:focus,
.search input:focus {
  outline: 0px;
}

.Divider {
  width: 1px;
  height: 30px;
  background: #dfdfdf;
  color: transparent;
  display: inline-block;
}

.search input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-left: 5px;
  height: 36px;
}

.search svg {
  margin-left: 7px;
}

.search input::placeholder {
  color: #979797;
}

.search button {
  border: none;
}

/*Collapse*/
.menu {
  position: absolute;
  z-index: 3;
  background-color: white;
  top: 90px;
  width: 100%;
  left: 0;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.menuButton {
  border: none;
  background-color: transparent;
  color: var(--aloha-blue);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  outline: none;
  font-size: 18px;
}

.menuButton__toggle {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  position: relative;
  display: grid;
  place-items: center;
}

.menuButton__toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--aloha-blue);
  transition: 0.4s;
}

.menuButton__toggle.close span {
  position: absolute;
}

.menuButton__toggle.close span:first-child {
  transform: rotate(-45deg);
}

.menuButton__toggle.close span:last-child {
  transform: rotate(45deg);
}

.menuThree {
  display: flex;
  align-items: center;
}

.navbar .searchIcon {
  display: none;
}

.navbar.fixed .searchIcon {
  display: block;
}

.Dropdown {
  position: relative;
}

.subMenuToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.subMenuArrow {
  font-size: 20px;
  color: var(--aloha-blue);
}

.menuItem {
  border-bottom: 1px solid #dfdfdf;
  font-weight: 600;
  color: var(--aloha-black);
  font-size: 24px;
}

.menuButton {
  display: none;
}

/*Responsive*/
@media (max-width: 1290px) {
  .menuButton {
    display: flex;
  }

  .menufirst,
  .menusecond {
    display: none;
  }

  .container {
    padding: 10px 1em;
  }
}

@media (min-width: 1200px) {
  .menuThree {
    display: none;
  }
}

@media (max-width: 900px) {
  .search {
    display: none;
  }
}

@media (max-width: 600px) {
  .menuItem {
    font-size: 20px;
  }
}
