.ButtonLink {
    font-weight: 600;
    display: inline-block;
}

/***********************************
========= Size variables ===========
************************************/

/* xs */
.xs {
    font-size: 14px;
}

.xs .arrow svg {
    width: 16px;
    height: 16px;
}

/* s */
.s {
    font-size: 16px;
}

.s .arrow svg {
    width: 20px;
    height: 20px;
}

/* m */
.m {
    font-size: 18px;
}

.m .arrow svg {
    width: 24px;
    height: 24px;
}

/* l */
.l {
    font-size: 24px;
}

.l .arrow svg {
    width: 32px;
    height: 32px;
}

/* xl */
.xl {
    font-size: 32px;
}

.xl .arrow svg {
    width: 40px;
    height: 40px;
}


/***********************************
========= Color variables ==========
************************************/

/* coral */
.coral {
    color: var(--aloha-coral);
}

.coral:hover{
    color: var(--aloha-coral-800);
}

.coral:active{
    color: var(--aloha-coral-700);
}

.coral svg path{
    stroke: var(--aloha-coral);
}

.coral:hover svg path{
    stroke: var(--aloha-coral-800);
}

/* blue */
.blue {
    color: var(--aloha-blue);
}

.blue:hover {
    color: var(--aloha-blue-700);
}

.blue:active{
    color: var(--aloha-blue-800);
}

.blue svg path{
    stroke: var(--aloha-blue);
}

.blue:hover svg path{
    stroke: var(--aloha-blue-700);
}


