.SubMenuDesktop {
  height: 200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px
}

.SubMenuDesktop a {
  color: #222222;
  text-decoration: none;
  text-transform: capitalize;
}

.SubMenuDesktopItem {
  width: 300px;
  height: 170px;
  position: relative;
  cursor: pointer;
}

.GridThree {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.GridFour {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.Tag {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-top: 1px;
  padding-right: 10px;
  font-weight: 800;
}

.fixed {
  background-color: white;
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 4;
}