.PricingCard{
    background: white;
    color: var(--aloha-gray);
    position: relative;
    padding: 2rem;
}

.Title{
    color: var(--aloha-black);
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
}

.Desc{
    font-size: 18px;
    line-height: 125%;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.TextFrom{
    font-weight: 600;
}

.Price{
    margin: 0;
    color: var(--aloha-coral);
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    margin-top: 5px;
}

.BtnBuyNow{
    background-color: var(--aloha-black);
    border-color: var(--aloha-black);
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.BtnBuyNow:hover{
    background-color: #111111;
    border-color: #111111;
}

@media (max-width: 575.98px){
    .PricingCard{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .PricingCard__content{
        padding: 2rem;
    }
    .BtnBuyNow{
        position: relative;
    }
}